<div id="creature-types-breakdown" class="section">
    <h3>Creature types breakdown</h3>

    <div class="highlights-block">
        {% for type, amount in stats.creatureTypesStats.stats|slice(0,3) %}
            <div class="highlights-item">
                <span class="bigger">{{ amount }}x</span>
                <br>
                <span class="smaller">{{ type }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="other-types">
        {% for type, amount in stats.creatureTypesStats.stats|filter(v => v > 1) %}
            <div>
                <div class="label">{{ type }}</div>
                <div class="div-hx div-h-{{ amount }}"></div>
                <div class="amount">{{ amount }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="one-ofs">
        <h4>One-offs</h4>
        {% for type in stats.creatureTypesStats.oneOffs %}
            {{ type }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>

    <div class="info">
        Different creature types - {{ stats.creatureTypesStats.stats|length }}.
        There's
        {% for types, count in stats.creatureTypesStats.typesOnCreature %}
            {{ count }} creature{% if count > 1 %}s{% endif%}
            with {{ types }}
            type{% if types > 1 %}s{% endif%}{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
    </div>
</div>