<div id="creature-stats-breakdown" class="section">
    <h3>Creatures - stats</h3>

    <div class="highlights-block">
        <div class="highlights-item">
            <span class="smaller">Average Power</span>
            <br>
            <span class="bigger">{{ stats.creatureStatsStats.averagePower|round(2) }}</span>
        </div>
        <div class="highlights-item">
            <span class="smaller">Average Toughness</span>
            <br>
            <span class="bigger">{{ stats.creatureStatsStats.averageToughness|round(2) }}</span>
        </div>
        <div class="highlights-item">
            <span class="smaller">Average Mana Value</span>
            <br>
            <span class="bigger">{{ stats.creatureStatsStats.averageManaValue|round(2) }}</span>
        </div>
    </div>

    <div class="stats-histogram part1">
        <h4>Power</h4>
        {% for value, count in stats.creatureStatsStats.ptBreakdown %}
        <div>
            <div class="label">{% if count.p > 0 %}{{ count.p }}{% endif %}</div>
            <div class="div-hx div-h-{{ count.p }}"></div>
            <div class="amount">{{ value }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="stats-histogram part2">
        {% for value, count in stats.creatureStatsStats.ptBreakdown %}
        <div>
            <div class="div-hx div-h-{{ count.t }}"></div>
            <div class="label">{% if count.t > 0 %}{{ count.t }}{% endif %}</div>
        </div>
        {% endfor %}
        <h4>Toughness</h4>
    </div>

    <div class="stats-histogram">
        <h4>Mana Value</h4>
        {% for value, count in stats.creatureStatsStats.manaValueBreakdown %}
        <div>
            <div class="label">{% if count > 0 %}{{ count }}{% endif %}</div>
            <div class="div-hx div-h-{{ count }}"></div>
            <div class="amount">{{ value }}</div>
        </div>
        {% endfor %}
    </div>

    <div class="stats-histogram-horizontal">
        <h4>Color</h4>
        {% for color, count in stats.creatureStatsStats.colorBreakDown %}
        <div>
            <div class="label">{{ colorNames[color] }}</div>
            <div class="div-wx-rtl div-2w-{{ count }} mana-{{ color }}"></div>
            <div class="amount">{% if count > 0 %}{{ count }}{% endif %}</div>
        </div>
        {% endfor %}
    </div>

    <div class="info">
        There are {{ stats.creatureStatsStats.creaturesCount }} creatures in the set.
    </div>
</div>
