<div id="instants-vs-sorceries" class="section">
    <h3>Instants and Sorceries</h3>

    <div class="info">
        There are {{ stats.instantsVsSorceries.countInstants }} instants
        and {{ stats.instantsVsSorceries.countSorceries }} sorceries in the set.
    </div>

    <div class="stats-histogram part1">
        <h4>Instants</h4>
        {% for value, count in stats.instantsVsSorceries.manaBreakdownInstants %}
        <div>
            <div class="label">{% if count > 0 %}{{ count }}{% endif %}</div>
            <div class="div-hx div-2h-{{ count }}"></div>
            <div class="amount">{{ value }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="stats-histogram part2">
        {% for value, count in stats.instantsVsSorceries.manaBreakdownSorceries %}
        <div>
            <div class="div-hx div-2h-{{ count }}"></div>
            <div class="label">{% if count > 0 %}{{ count }}{% endif %}</div>
        </div>
        {% endfor %}
        <h4>Sorceries</h4>
    </div>
    {% set colorInstants = stats.instantsVsSorceries.colorsInstants %}
    {% set colorSorceries = stats.instantsVsSorceries.colorsSorceries %}

    <div class="stats-histogram-horizontal two-sides">
        <h4>Color</h4>
        {% for color, count in colorInstants %}
            <div>
                <div class="left-side-spike">
                    <div class="amount">{% if count > 0 %}{{ count }}{% endif %}</div>
                    <div class="div-wx-ltr div-2w-{{ count }} mana-{{ color }}"></div>
                </div>
                <div class="label">{{ colorNames[color] }}</div>
                <div class="div-wx-rtl div-2w-{{ colorSorceries[color] }} mana-{{ color }}"></div>
                <div class="amount">{% if colorSorceries[color] > 0 %}{{ colorSorceries[color] }}{% endif %}</div>
            </div>
        {% endfor %}
    </div>

</div>
