{% extends 'articles/_base.html.twig' %}

{% block body %}
    <h1>Can I cast?</h1>
    <h5>Dominaria United</h5>

    <h3>Intro</h3>
    <div class="p">
        This article is heavily inspired by
        <a target="_blank"
           href="https://strategy.channelfireball.com/all-strategy/home/how-many-sources-do-you-need-to-consistently-cast-your-spells-a-2022-update/">
            Frank Karsten's "How many sources do you need"
        </a>
        . He did a great job, but it
        made me curious to look at numbers a bit deeper. For example, not only how often you'll have proper colors if
        you drew enough lands, but also - what are the chances of both events together, basically - how often you'll be
        able to cast multicolored 3-drop on turn 3. There are numerous options in Magic when it comes to mana -
        phyrexian, colorless, hybrid, lands that produce more than 1 mana at a time, e.t.c. Thus I decided to narrow
        down the area covered by the article to the Limited format, specifically - "Dominaria United" Limited. This
        article probably won't provide you with any additional guidelines on building your mana base, but I hope it will
        entertain you a bit.
    </div>

    <h3>Methodology and assumptions</h3>
    <div class="p">
        To get estimations I’ve used the Monte Carlo method. This means that I’ve created a small piece of code that
        simulates deck shuffle, draw, and mulligan processes and ran the simulation enough times (at least 1’000’000 per
        check) to get an approximation. As a mana source, I’ve considered only basic lands – no mana-giving creatures or
        color filters were included in the simulation – mostly because that would create a whole new layer of different
        combinations and options. And no dual lands – because you won’t be able to pick some in your colors every time.
        As for mulligan – I’ve included a short description of the process in the appendix.
    </div>

    <h3>Mono-colored spells in mono-colored decks</h3>

    <div class="p">
        In a mono-colored deck possibility to cast X-drop on turn X means just having X lands on turn X.
    </div>

    <div class="p">
        <table class="experiment-results">
            <tr>
                <td>&nbsp;</td>
                <th>Turn 1</th>
                <th>Turn 2</th>
                <th>Turn 3</th>
                <th>Turn 4</th>
                <th>Turn 5</th>
                <th>Turn 6</th>
                <th>Turn 7</th>
            </tr>
            {% for lands, row in monoInMono %}
                <tr>
                    <th>{{ lands }}</th>
                    {% for result in row %}
                        <td>{{ experiment_percentage(result['success'], result['total']) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="p">
        Being able to play X-drop on turn X is great, but sometimes we’re fine with playing them a turn later,
        especially if we are talking about spells that cost 4 mana or more.
    </div>

    <div class="p">
        <table class="experiment-results">
            <tr>
                <td>&nbsp;</td>
                <th>Turn 2</th>
                <th>Turn 3</th>
                <th>Turn 4</th>
                <th>Turn 5</th>
                <th>Turn 6</th>
                <th>Turn 7</th>
                <th>Turn 8</th>
            </tr>
            {% for lands, row in monoInMonoPlus %}
                <tr>
                    <th>{{ lands }}</th>
                    {% for result in row %}
                        <td>{{ experiment_percentage(result['success'], result['total']) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Splashing mono-colored decks into second color</h3>
    <h3>Splashing mono-colored decks into second and third colors</h3>

    <h3>Mono-colored spells in two-colored decks</h3>

    <div class="p">
        This situation is a bit trickier – because the outcome not only depends on the number of lands in the deck but
        also depends on the proportion between the colors. For even amounts of lands, I’ve assumed that we have an equal
        amount of lands of each color. For odd amounts, I’ve assumed that one color has one more land in the deck, and
        thus I had to run the simulation twice – for the situation when the spell is of the “dominant” color and once –
        for the opposite. Because of that rows that represent odd-numbered mana base have two values – one for the
        situation when card's color is the same as the “dominant” color of the mana base, and the second one – for the
        opposite situation.
    </div>

    <div class="p">
        Example cards:
        <table class="cards-list">
            <tr>
                <td>1C</td>
                <td>{{ card_info('Llanowar Loamspeaker') | raw }}</td>
            </tr>
            <tr>
                <td>CC</td>
                <td>{{ card_info('Leaf-Crowned Visionary') | raw }}</td>
            </tr>
            <tr>
                <td>2C</td>
                <td>{{ card_info('Deathbloom Gardener') | raw }}</td>
            </tr>
            <tr>
                <td>1CC</td>
                <td>{{ card_info('Liliana of the Veil') | raw }}</td>
            </tr>
            <tr>
                <td>3C</td>
                <td>{{ card_info('Magnigoth Sentry') | raw }}</td>
            </tr>
            <tr>
                <td>2CC</td>
                <td>{{ card_info('Sheoldred, the Apocalypse') | raw }}</td>
            </tr>
            <tr>
                <td>4C</td>
                <td>{{ card_info('Elfhame Wurm') | raw }}</td>
            </tr>
            <tr>
                <td>3CC</td>
                <td>{{ card_info('Defiler of Vigor') | raw }}</td>
            </tr>
            <tr>
                <td>2CCC</td>
                <td>{{ card_info('Silverback Elder') | raw }}</td>
            </tr>
            <tr>
                <td>5C</td>
                <td>{{ card_info('Briar Hydra') | raw }}</td>
            </tr>
            <tr>
                <td>4CC</td>
                <td>{{ card_info('Tyrannical Pitlord') | raw }}</td>
            </tr>
            <tr>
                <td>6C</td>
                <td>{{ card_info('Writhing Necromass') | raw }}</td>
            </tr>
            <tr>
                <td>5CC</td>
                <td>{{ card_info('Mossbeard Ancient') | raw }}</td>
            </tr>
            <tr>
                <td>7C</td>
                <td>{{ card_info('Yavimaya Sojourner') | raw }}</td>
            </tr>
        </table>
    </div>

    <div class="p">
        <table class="experiment-results full">
            <tr>
                <td rowspan="2"> </td>
                <th colspan="2">Turn 2 </th>
                <th colspan="2">Turn 3 </th>
                <th colspan="2">Turn 4 </th>
                <th colspan="3">Turn 5 </th>
                <th colspan="2">Turn 6 </th>
                <th colspan="2">Turn 7 </th>
                <th colspan="2">Turn 8 </th>
            </tr>
            <tr>
                {% for key, data in monoInDual[14] %}
                <th>{{ key|replace({'G':'C', 'B':'C'}) }}</th>
                {% endfor %}
            </tr>
            {% for rowKey, row in monoInDual %}
                <tr>
                    <th>{{ rowKey }}</th>
                    {% for result in row %}
                        <td>
                            {% if result['only'] is defined %}
                                {{ experiment_percentage(result['only']['success'], result['only']['total']) }}
                            {% else %}
                                {{ experiment_percentage(result['favored']['success'], result['favored']['total']) }}
                                <br>
                                {{ experiment_percentage(result['handicap']['success'], result['handicap']['total']) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="p">
        ... and the same one turn later
    </div>

    <div class="p">
        <table class="experiment-results full">
            <tr>
                <td rowspan="2"> </td>
                <th colspan="2">Turn 3 </th>
                <th colspan="2">Turn 4 </th>
                <th colspan="2">Turn 5 </th>
                <th colspan="3">Turn 6 </th>
                <th colspan="2">Turn 7 </th>
                <th colspan="2">Turn 8 </th>
                <th colspan="2">Turn 9 </th>
            </tr>
            <tr>
                {% for key, data in monoInDualPlus[14] %}
                <th>{{ key|replace({'G':'C', 'B':'C'}) }}</th>
                {% endfor %}
            </tr>
            {% for rowKey, row in monoInDualPlus %}
                <tr>
                    <th>{{ rowKey }}</th>
                    {% for result in row %}
                        <td>
                            {% if result['only'] is defined %}
                                {{ experiment_percentage(result['only']['success'], result['only']['total']) }}
                            {% else %}
                                {{ experiment_percentage(result['favored']['success'], result['favored']['total']) }}
                                <br>
                                {{ experiment_percentage(result['handicap']['success'], result['handicap']['total']) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Dual-colored spells in two-colored decks</h3>

    <div class="p">
        Example cards:
        <table class="cards-list">
            <tr>
                <td>AB</td>
                <td>{{ card_info('Ivy, Gleeful Spellthief') | raw }}</td>
                <td>GU</td>
            </tr>
            <tr>
                <td>1AB</td>
                <td>{{ card_info('King Darien XLVIII') | raw }}</td>
                <td>1GW</td>
            </tr>
            <tr>
                <td>ABB</td>
                <td>{{ card_info('Queen Allenal of Ruadach') | raw }}</td>
                <td>GWW</td>
            </tr>
            <tr>
                <td>2AB</td>
                <td>{{ card_info('Radha, Coalition Warlord') | raw }}</td>
                <td>2RG</td>
            </tr>
            <tr>
                <td>1ABB</td>
                <td>{{ card_info('Rulik Mons, Warren Chief') | raw }}</td>
                <td>1RGG</td>
            </tr>
            <tr>
                <td>3AB</td>
                <td>{{ card_info('Zar Ojanen, Scion of Efrava') | raw }}</td>
                <td>3GW</td>
            </tr>
            <tr>
                <td>2ABB</td>
                <td>{{ card_info('Tura Kennerüd, Skyknight') | raw }}</td>
                <td>2WUU</td>
            </tr>
            <tr>
                <td>4AB</td>
                <td>{{ card_info('Bortuk Bonerattle') | raw }}</td>
                <td>4BG</td>
            </tr>
        </table>
    </div>

    <div class="p">
        <table class="experiment-results full">
            <tr>
                <td rowspan="2"> </td>
                <th colspan="1">Turn 2 </th>
                <th colspan="2">Turn 3 </th>
                <th colspan="2">Turn 4 </th>
                <th colspan="2">Turn 5 </th>
                <th colspan="1">Turn 6 </th>
            </tr>
            <tr>
                {% for key, data in dualInDual[14] %}
                    <th>{{ key|replace({'G':'C', 'B':'C'}) }}</th>
                {% endfor %}
            </tr>
            {% for rowKey, row in dualInDual %}
                <tr>
                    <th>{{ rowKey }}</th>
                    {% for result in row %}
                        <td>
                            {% if result['only'] is defined %}
                                {{ experiment_percentage(result['only']['success'], result['only']['total']) }}
                            {% else %}
                                {{ experiment_percentage(result['favored']['success'], result['favored']['total']) }}
                                <br>
                                {{ experiment_percentage(result['handicap']['success'], result['handicap']['total']) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="p">
        <table class="experiment-results full">
            <tr>
                <td rowspan="2"> </td>
                <th colspan="1">Turn 3 </th>
                <th colspan="2">Turn 4 </th>
                <th colspan="2">Turn 5 </th>
                <th colspan="2">Turn 6 </th>
                <th colspan="1">Turn 7 </th>
            </tr>
            <tr>
                {% for key, data in dualInDualPlus[14] %}
                    <th>{{ key|replace({'G':'C', 'B':'C'}) }}</th>
                {% endfor %}
            </tr>
            {% for rowKey, row in dualInDualPlus %}
                <tr>
                    <th>{{ rowKey }}</th>
                    {% for result in row %}
                        <td>
                            {% if result['only'] is defined %}
                                {{ experiment_percentage(result['only']['success'], result['only']['total']) }}
                            {% else %}
                                {{ experiment_percentage(result['favored']['success'], result['favored']['total']) }}
                                <br>
                                {{ experiment_percentage(result['handicap']['success'], result['handicap']['total']) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Dual-colored spells in two-colored decks with uneven land proportions</h3>
    <h3>Splashing two-colored decks into third color</h3>
    <h3>Phyrexian spells in two-colored decks</h3>

    <h3>Mono-colored spells in three-colored decks</h3>
    <h3>Dual-colored spells in three-colored decks</h3>
    <h3>Three-colored spells in three-colored decks</h3>
{% endblock %}