<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% include 'meta.html.twig' %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📊</text></svg>">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        {% include 'stats.html.twig' %}
    </head>
    <body id="set-stats">
        <div id="set-nav">
            <a href="{{ path('set_view', {set:'AFR'}) }}">AFR</a>
            <a href="{{ path('set_view', {set:'STX'}) }}">STX</a>
            <a href="{{ path('set_view', {set:'KHM'}) }}">KHM</a>
            <a href="{{ path('set_view', {set:'ZNR'}) }}">ZNR</a>

            <a href="{{ path('set_view', {set:'M21'}) }}">M21</a>
            <a href="{{ path('set_view', {set:'IKO'}) }}">IKO</a>
            <a href="{{ path('set_view', {set:'THB'}) }}">THB</a>
            <a href="{{ path('set_view', {set:'ELD'}) }}">ELD</a>
            <a href="{{ path('set_view', {set:'ELD'}) }}">Donate</a>
        </div>

        {% block body %}{% endblock %}
        <div id="disclaimers">
            <span>
                Portions of this website are unofficial Fan Content permitted under the Wizards of the Coast Fan Content Policy.
                The literal and graphical information presented on this site about Magic: The Gathering, including card images,
                the mana symbols, and Oracle text, is copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc.
                This website is not produced by, endorsed by, supported by, or affiliated with Wizards of the Coast.
            </span>
            <br />
            <span>
                Portions of data on this website are based on data provided by mtgjson.com.
                This website is not produced by, endorsed by, supported by, or affiliated with MTGJSON.
            </span>
            <br />
            <span>
                All original content on this page is © 2021 myrobotmadethis.com and may not be used or reproduced without consent.
            </span>
        </div>
    </body>
</html>
